footer {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  width: 100%;
}

.reservation {
  color: var(--eerie-black);
  font-weight: 500;
  position: relative; 
  text-align: center;
  z-index: 10;
}

@media (min-width: 1440px) {
  footer {
    width: 80%;
  }
}